/* Header */
header { margin: 0; padding: 0; text-align: center; }

a { text-decoration: none; color: black; }

/* order details */
/* header table */
p.woocommerce-thankyou-order-received { text-align: center; }
h2.order_details_title { border-bottom: 1px solid #E7E7E7; text-align: center;}
table.order_details { width: 100%; }
table.order_details td { padding: 10px; }

/* shop table */
table.shop_table th { background-color: #E7E7E7; }
table.shop_table td, table.shop_table th { text-align: left; padding: 5px; }

/* footer */
#footer_text {width: 100%; padding: 10px; text-align: center; margin-top: 10px;}